{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    {% if symbol %}
       <p>stock symbol:{{symbol}}</p>
       <p>stock price:{{price|usd}}</p>
       <p>stock name:{{name}}</p>
    {% else %}
        <form action="/quote" method="post">
            <div class="form-group" >
                <input autocomplete="off" autofocus class="form-control"
                   name="symbol" placeholder="symbol" type="text"/>
                <button class="btn btn-primary" type="submit">Quote</button>
            </div>
        </form>
    {% endif %}
{% endblock %}